absl-py==2.3.1
actionlib==1.14.3
agentlace @ git+https://github.com/youliangtan/agentlace.git@cf2c337c5e3694cdbfc14831b239bd657bc4894d
angles==1.9.14
annotated-types==0.7.0
array_record==0.7.2
astunparse==1.6.3
attrs==25.3.0
blinker==1.9.0
bondpy==1.8.7
cachetools==5.5.2
camera-calibration==1.17.0
camera-calibration-parsers==1.12.1
catkin==0.8.12
catkin-pkg==1.0.0
certifi==2025.7.9
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.2
chex==0.1.85
click==8.2.1
cloudpickle==3.1.1
contourpy==1.3.2
controller-manager==0.20.0
controller-manager-msgs==0.20.0
cv-bridge==1.16.2
cycler==0.12.1
decorator==4.4.2
defusedxml==0.7.1
diagnostic-analysis==1.12.1
diagnostic-common-diagnostics==1.12.1
diagnostic-updater==1.12.1
distlib==0.3.9
distrax==0.1.5
distro==1.9.0
dlimp @ git+https://github.com/kvablack/dlimp@5edaa4691567873d495633f2708982b42edf1972
dm-env==1.6
dm-tree==0.1.9
dm_robotics-transformations==0.9.0
docutils==0.21.2
dynamic-reconfigure==1.7.6
easyhid==0.0.10
einops==0.8.1
etils==1.12.2
evdev==1.9.2
Farama-Notifications==0.0.4
filelock==3.18.0
Flask==3.1.1
flatbuffers==25.2.10
flax==0.7.5
fonttools==4.58.5
-e git+https://github.com/s1lent4gnt/conrft.git@a447f265c7f7eac65c2747c5cef6b06be3d53ae0#egg=franka_sim&subdirectory=franka_sim
fsspec==2025.5.1
gast==0.6.0
gazebo_plugins==2.9.3
gazebo_ros==2.9.3
gencpp==0.7.2
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.1
gennodejs==2.0.2
genpy==0.6.18
gitdb==4.0.12
GitPython==3.1.44
glfw==2.9.0
google-auth==2.40.3
google-auth-oauthlib==1.2.2
google-pasta==0.2.0
grpcio==1.73.1
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
h5py==3.14.0
hf-xet==1.1.5
hidapi==0.14.0.post4
huggingface-hub==0.33.2
identify==2.6.12
idna==3.10
image-geometry==1.16.2
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib_resources==6.5.2
inputs==0.5
interactive-markers==1.12.2
itsdangerous==2.2.0
jax==0.4.20
jaxlib==0.4.20
Jinja2==3.1.6
joint-state-publisher==1.15.2
joint-state-publisher-gui==1.15.2
keras==2.15.0
kiwisolver==1.4.8
laser-geometry==1.6.8
libclang==18.1.1
lxml==6.0.0
lz4==4.4.4
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mdurl==0.1.2
message-filters==1.17.4
ml-dtypes==0.2.0
ml_collections==1.1.0
moviepy==1.0.3
msgpack==1.1.1
mujoco==3.2.6
namex==0.1.0
narwhals==1.46.0
natsort==8.4.0
nest-asyncio==1.6.0
networkx==3.4.2
nodeenv==1.9.1
numpy==1.26.4
oauthlib==3.3.1
-e git+ssh://git@github.com/cccedric/octo.git@e454c7a1939163a7e1c70670d34dc504c4825247#egg=octo
opencv-python==4.12.0.88
OpenEXR==3.3.4
opt_einsum==3.4.0
optax==0.1.5
optree==0.16.0
orbax-checkpoint==0.4.4
packaging==25.0
pillow==11.3.0
platformdirs==4.3.8
plotly==6.2.0
pre-commit==3.3.3
proglog==0.1.12
promise==2.3
protobuf==4.21.12
psutil==7.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
pymodbus==2.5.3
pynput==1.8.1
PyOpenGL==3.1.9
pyparsing==3.2.3
pyquaternion==0.9.9
pyrealsense2==2.55.1.6486
pyserial==3.5
pyspacemouse==1.1.4
python-dateutil==2.9.0.post0
python-qt-binding==0.4.6
python-xlib==0.33
PyYAML==6.0.2
pyzmq==27.0.0
qt-dotgraph==0.4.5
qt-gui==0.4.5
qt-gui-cpp==0.4.5
qt-gui-py-common==0.4.5
regex==2024.11.6
requests==2.32.4
requests-oauthlib==2.0.0
resource-retriever==1.12.10
rich==14.0.0
rosbag==1.17.4
rosboost-cfg==1.15.10
rosclean==1.15.10
roscreate==1.15.10
rosgraph==1.17.4
roslaunch==1.17.4
roslib==1.15.10
roslint==0.12.0
roslz4==1.17.4
rosmake==1.15.10
rosmaster==1.17.4
rosmsg==1.17.4
rosnode==1.17.4
rosparam==1.17.4
rospkg==1.6.0
rospy==1.17.4
rosservice==1.17.4
rostest==1.17.4
rostopic==1.17.4
rosunit==1.15.10
roswtf==1.17.4
rqt-action==0.4.11
rqt-bag==0.5.3
rqt-bag-plugins==0.5.3
rqt-console==0.4.14
rqt-dep==0.4.14
rqt-graph==0.4.16
rqt-gui==0.5.5
rqt-gui-py==0.5.5
rqt-image-view==0.4.19
rqt-launch==0.4.10
rqt-logger-level==0.4.13
rqt-moveit==0.5.13
rqt-msg==0.4.12
rqt-nav-view==0.5.8
rqt-plot==0.4.16
rqt-pose-view==0.5.13
rqt-publisher==0.4.12
rqt-py-common==0.5.5
rqt-py-console==0.4.12
rqt-reconfigure==0.5.7
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.15
rqt-robot-steering==0.5.14
rqt-runtime-monitor==0.5.10
rqt-rviz==0.7.2
rqt-service-caller==0.4.12
rqt-shell==0.4.13
rqt-srv==0.4.11
rqt-tf-tree==0.6.5
rqt-top==0.4.11
rqt-topic==0.4.15
rqt-web==0.4.11
rsa==4.9.1
rviz==1.14.26
safetensors==0.5.3
scipy==1.7.2
sensor-msgs==1.13.2
sentry-sdk==2.32.0
-e git+https://github.com/s1lent4gnt/conrft.git@a447f265c7f7eac65c2747c5cef6b06be3d53ae0#egg=serl_launcher&subdirectory=serl_launcher
-e git+https://github.com/s1lent4gnt/conrft.git@a447f265c7f7eac65c2747c5cef6b06be3d53ae0#egg=serl_robot_infra&subdirectory=serl_robot_infra
six==1.17.0
smach==2.5.3
smach-ros==2.5.3
smclib==1.8.7
smmap==5.0.2
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-addons==0.23.0
tensorflow-datasets==4.9.2
tensorflow-estimator==2.15.0
tensorflow-graphics==2021.12.3
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.17.2
tensorflow-probability==0.23.0
tensorflow-text==2.15.0
tensorstore==0.1.45
termcolor==3.1.0
tf==1.13.4
tf-conversions==1.13.4
tf2-geometry-msgs==0.7.10
tf2-kdl==0.7.10
tf2-py==0.7.10
tf2-ros==0.7.10
tf_keras==2.15.1
tokenizers==0.21.2
toml==0.10.2
toolz==1.0.0
topic-tools==1.17.4
tqdm==4.67.1
transformers==4.53.1
treescope==0.1.9
trimesh==4.7.0
typeguard==2.13.3
typing==3.7.4.3
typing-inspection==0.4.1
typing_extensions==4.14.1
urllib3==2.5.0
virtualenv==20.31.2
wandb==0.21.0
Werkzeug==3.1.3
wrapt==1.14.1
xacro==1.14.20
zipp==3.23.0
zmq==0.0.0
